.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
}

.Click-Me-Button {
  font-size: calc(15px + 2vmin);
  background-color: #0b6bf2;
  border: 1px solid #0243eb;
  color: #dbe9fd;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}